.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px
}
.nav-link-cont {
  position: relative;
  font-size: 24px;
}
.nav-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #fff;
}
.nav-link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
}


.nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #575656;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}
.nav-link:hover:after {
  transform: scaleX(1);
}

/* .navbar {
  -webkit-box-shadow: 1px 3px 20px #e7e7e7;
  -moz-box-shadow:    1px 3px 20px #e7e7e7;
  box-shadow:         1px 3px 20px #e7e7e7;
  background-image: url(./interlaced.png);
  
} */

.Navigation{
  
}