/* Global */
h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  .homeCont {
    /* background-color: rgba(233, 233, 233, 0.315); */
    width: 65%;
    border-radius: 8px;
  }

  .mainTitle {
    font-size: 5rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .team {
    font-family: 'Josefin Sans', sans-serif;
  }

  .about {
    font-size: 26px;
  }

  .usPic{
    width: 80%;
    height: 70%;
    border-radius: 6px;
  }

  .ourLinks {
    font-size: 29px;
    letter-spacing: 10px;
  }

  .daLink {
    text-decoration: none;
    color: rgb(218, 218, 218)
  }

  .daLink:hover {
    color: rgb(145, 143, 143)
  }