.footer {
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 1px 3px 20px #e7e7e7;
  -moz-box-shadow:    1px 3px 20px #e7e7e7;
  box-shadow:         1px 3px 20px #e7e7e7;
  background-image: url(../Navigation/interlaced.png);
}