.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px
}

.card {
    background-image: url(./images/interlaced.png) rgba(255, 255, 255, 0.267);
}

.rosCard {
background-color:rgba(233, 233, 233, 0.315);
}